/*
CSS document
JavaFX CSS has distinct difference with regular CSS. Scene Builder styles take precedence.
*/


/* button hover animation */
.button:hover {
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
	-fx-scale-z: 1.1;
}
/* removes background from textfield */
.text-field {
	-fx-border-color: #6F4242;
	-fx-border-width: 0 0 1 0;
	-fx-background-color: transparent;
}




/*
.closebutton .button {
  -fx-background-color: white, white;
  -fx-background-radius: 16.4, 15;
  -fx-background-insets: -1.4, 0;
  -fx-border-radius: 15;
  -fx-border-width: 2;
  -fx-border-color: dimgrey;
  -fx-padding: 0;
  -fx-font-size: 0;
}

.closebutton .button:focused {
  -fx-background-color: -fx-focus-color, white;
}

.closebutton .closetext {
  -fx-stroke: dimgrey;
  -fx-fill: dimgrey;
  -fx-font-size: 20;
  -fx-translate-y: -1;
}

.closebutton .closeicon {
  -fx-stroke: dimgrey;
  -fx-stroke-width: 2;
}

.closebutton:hover {
  -fx-effect: innershadow(gaussian, green, 15, 0, 0, 0);
}
*/
.button {
 -fx-background-color: #2b5c50;
       -fx-background-radius: 120em;
       -fx-min-width: 75px;
      -fx-min-height: 75px;
      -fx-max-width: 75px;
      -fx-max-height: 75px;
    -fx-background-insets: 0px;
       -fx-padding: 0px;
}
.linear-grad- repeat1{
     -fx-background-color: linear-gradient(from 13px 38px to 52px 52px, reflect,  #d2691e, #ffa500 100%);
}
/* reserved style for mainmenu title pane (basket)
   to be removed in the future
.titled-pane > .title {
    -fx-body-color: #6F4242;
    }
.titled-pane > .title:armed:hover {
    -fx-body-color: #CCCCCC;
}

.titled-pane > .title:hover {
    -fx-body-color: #DDDDDD;
}

.brown-settings {
	-fx-color-one: #6F4242;
	-fx-background-color: -fx-color-one;
	-fx-background-radius: 8, 7, 6;
	-fx-background-insets: 0, 1, 2;
	-fx-text-fill: white;
	-fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}
.brown-settings:hover {
	-fx-color-one: #6f5542;
	-fx-color-two: #981100;
	-fx-color-three: #981100;
}
.brown-settings:armed {
	-fx-color-one: #6f6242;
	-fx-color-two: #235891;
	-fx-color-three: #235891;
}
*/